// Typeography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-sans-serif-italic: 'Open Sans Italic', sans-serif;
$font-family-serif: 'DM Serif Display', serif;
$font-family-serif-italic: 'DM Serif Display Italic', serif;
// Headings
$headings-font-family: $font-family-serif;
// Nav
$navbar-nav-link-padding-x: 1.5rem;
$nav-link-color: #000;

// Colors
$body-color: #2E3444;
$toggle-light: #4D5569;
$toggle-dark: #ECF1F5;