// Typeography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-sans-serif-italic: 'Open Sans Italic', sans-serif;
$font-family-serif: 'DM Serif Display', serif;
$font-family-serif-italic: 'DM Serif Display Italic', serif;
// Headings
$headings-font-family: $font-family-serif;

// Colors
// $primary: #2E3444;
$body-color: #2E3444;