.contact-form {
	@include padding-top(117px);
	@include padding-bottom(150px);

	.section-title {
		@include margin-bottom(83px);
	}
	.contact-photo {
		p {
			@include margin-bottom(22px);
		}
		img {
			@include border-radius(100%);

			@include media-breakpoint-down(md) {
				max-width: 300px;
				margin-left: auto;
				margin-right: auto;
				@include margin-bottom(30px);
				display: block;
			}
			@include media-breakpoint-only(xs) {
				max-width: 100%;
			}
		}
	}
	.form-container {
		.form-switch {
			padding-left: 3.25em;

			.form-check-input {
				width: 2.5em;
				height: 1.5em;
				margin-left: -3.25em;
				cursor: pointer;
			}
			.form-check-label {
				@include padding-top(3px);
			}
		}
		.form-check {
			min-height: 2rem;
		}
		.form-floating {
			& > .form-control,
			& > label {
				padding-left: 1rem;
			}
		}
		@include media-breakpoint-down(md) {
			.rgb-button-wrap {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}